body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  color: #333;
}

.containerr{
  max-width: 960px;
  margin: 100px auto 40px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #981d1d;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}
